In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
series1 = Series([25, 27, 28, 30], index=["student1", "student2", "student3", "student4"])

In [4]:
print(series1)

student1    25
student2    27
student3    28
student4    30
dtype: int64

In [5]:
series1.describe()

count     4.000000
mean     27.500000
std       2.081666
min      25.000000
25%      26.500000
50%      27.500000
75%      28.500000
max      30.000000
dtype: float64

In [6]:
series1[0]

25

In [7]:
series1[[2,3]]

student3    28
student4    30
dtype: int64

In [8]:
series1["student1"]

25

In [9]:
series1[["student1", "student4"]]

student1    25
student4    30
dtype: int64

In [10]:
series1.index

Index(['student1', 'student2', 'student3', 'student4'], dtype='object')

In [11]:
'student2' in series1

True

In [12]:
series2 = pd.Series([40, 20, 35, 70], index=["price1", "price2", "price3", "price4"])

In [13]:
import pandas
pandas.Series([40, 20, 35, 70], index=["price1", "price2", "price3", "price4"])

price1    40
price2    20
price3    35
price4    70
dtype: int64

In [14]:
series3 = Series([25, 27, 28, 30])

In [15]:
series3

0    25
1    27
2    28
3    30
dtype: int64

In [16]:
series3.replace([25, 27], [125, 127])

0    125
1    127
2     28
3     30
dtype: int64

In [17]:
import numpy as np

In [18]:
series4 = pd.Series(np.random.randn(7))

In [19]:
series4

0   -0.507376
1   -1.840158
2    0.801654
3    0.730189
4   -0.651979
5    0.772401
6    0.223730
dtype: float64

### Modify the index of Series 4 using .index()

In [20]:
series4.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [21]:
series4

a   -0.507376
b   -1.840158
c    0.801654
d    0.730189
e   -0.651979
f    0.772401
g    0.223730
dtype: float64

### Create another random series 5

In [22]:
series5 = pd.Series(np.random.randn(7))

### Merge the two Series using .concat()

In [23]:
s45 = pd.concat([series4, series5])

In [24]:
s45

a   -0.507376
b   -1.840158
c    0.801654
d    0.730189
e   -0.651979
f    0.772401
g    0.223730
0    2.088625
1    1.003795
2   -0.347939
3    0.059852
4   -1.795977
5    2.315797
6    0.561692
dtype: float64

In [25]:
type(s45)

pandas.core.series.Series

### remove elements in list s45 with 5 as index

In [26]:
del[s45[5]]

In [27]:
s45

a   -0.507376
b   -1.840158
c    0.801654
d    0.730189
e   -0.651979
f    0.772401
g    0.223730
0    2.088625
1    1.003795
2   -0.347939
3    0.059852
4   -1.795977
6    0.561692
dtype: float64

### Delete item with 'f' as index

In [28]:
del(s45['f'])

In [29]:
s45

a   -0.507376
b   -1.840158
c    0.801654
d    0.730189
e   -0.651979
g    0.223730
0    2.088625
1    1.003795
2   -0.347939
3    0.059852
4   -1.795977
6    0.561692
dtype: float64

### Slice Series

In [30]:
s45[2:4]

c    0.801654
d    0.730189
dtype: float64

In [31]:
s45[:4]

a   -0.507376
b   -1.840158
c    0.801654
d    0.730189
dtype: float64

In [32]:
s45[5:]

g    0.223730
0    2.088625
1    1.003795
2   -0.347939
3    0.059852
4   -1.795977
6    0.561692
dtype: float64

### last 3 items

In [33]:
s45[-3:]

3    0.059852
4   -1.795977
6    0.561692
dtype: float64

### use head() to get items at start head(2) is first 2

In [34]:
s45.head(2)

a   -0.507376
b   -1.840158
dtype: float64

### use tail() to get items at the end tail(2) is last 2

In [35]:
s45.tail(2)

4   -1.795977
6    0.561692
dtype: float64

### reverse the list

In [36]:
s45[::-1]

6    0.561692
4   -1.795977
3    0.059852
2   -0.347939
1    1.003795
0    2.088625
g    0.223730
e   -0.651979
d    0.730189
c    0.801654
b   -1.840158
a   -0.507376
dtype: float64

### use copy() to create a copy of list

In [37]:
copys45 = s45.copy()

In [38]:
copys45

a   -0.507376
b   -1.840158
c    0.801654
d    0.730189
e   -0.651979
g    0.223730
0    2.088625
1    1.003795
2   -0.347939
3    0.059852
4   -1.795977
6    0.561692
dtype: float64