In [1]:
import numpy as np

In [2]:
from numpy import *

### Create a one dimension array

In [3]:
arr1 = np.array([0, 1, 2, 3, 4])

In [4]:
arr1

array([0, 1, 2, 3, 4])

### Create a two dimension array

In [5]:
arr2 = np.array([[5, 6, 7, 8, 9], [10, 11, 12, 13, 14]])

In [6]:
arr2

array([[ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

### data has to be same type

In [7]:
arr1.dtype

dtype('int32')

### items in array

In [8]:
arr1.size

5

### number of bits

In [9]:
arr1.itemsize

4

### create a list of numbers using np.arange()

In [10]:
arr3 = np.arange(100)

In [11]:
arr3

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

### you can set range of numbers

In [12]:
np.arange(1, 10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
arr4 = np.array([['a', 'b', 'c', 'd', 'e'], ['f', 'g','h', 'i', 'l'], ['m', 'n', 'o', 'p', 'q']])

In [14]:
arr4

array([['a', 'b', 'c', 'd', 'e'],
       ['f', 'g', 'h', 'i', 'l'],
       ['m', 'n', 'o', 'p', 'q']], dtype='<U1')

### select items with indexing

In [15]:
arr4[0]

array(['a', 'b', 'c', 'd', 'e'], dtype='<U1')

In [16]:
arr4[0][3]

'd'

In [17]:
arr4[1][1]

'g'

### we can negative index and rotate array

In [18]:
arr4[::-1]

array([['m', 'n', 'o', 'p', 'q'],
       ['f', 'g', 'h', 'i', 'l'],
       ['a', 'b', 'c', 'd', 'e']], dtype='<U1')

### we can merge arrays in an array using .ravel()

In [19]:
arr4.ravel()

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'l', 'm', 'n', 'o',
       'p', 'q'], dtype='<U1')

In [20]:
arr5 = np.array([19, 76, 2, 13, 48, 986, 1, 18])

In [21]:
arr5

array([ 19,  76,   2,  13,  48, 986,   1,  18])

### reorder array

In [22]:
np.msort(arr5) # smallest to largest

array([  1,   2,  13,  18,  19,  48,  76, 986])

### reorganize data in array using sevaral functions

In [23]:
arr5.reshape(4, 2) # arrange into a 4 x 2 array (array length has to be total 4 x 2 = 8 for this case)

array([[ 19,  76],
       [  2,  13],
       [ 48, 986],
       [  1,  18]])

In [24]:
arr5.reshape(8, 1)

array([[ 19],
       [ 76],
       [  2],
       [ 13],
       [ 48],
       [986],
       [  1],
       [ 18]])

In [25]:
x = np.array([20, 42, 17, 3, 7, 12, 14, 70, 9])

In [26]:
x = x.reshape(3, 3)

In [27]:
x

array([[20, 42, 17],
       [ 3,  7, 12],
       [14, 70,  9]])

In [28]:
y = x * 3

In [29]:
y

array([[ 60, 126,  51],
       [  9,  21,  36],
       [ 42, 210,  27]])

### similar to reshape is resize

In [30]:
z = np.array([120, 72, 37, 43, 57, 12, 54, 20, 9])

In [31]:
z.resize(3, 3)

In [32]:
z

array([[120,  72,  37],
       [ 43,  57,  12],
       [ 54,  20,   9]])

### concatenate horizontally

In [33]:
np.concatenate((x, y), axis=1)

array([[ 20,  42,  17,  60, 126,  51],
       [  3,   7,  12,   9,  21,  36],
       [ 14,  70,   9,  42, 210,  27]])

### arrange vartically

In [34]:
np.vstack((x,y))

array([[ 20,  42,  17],
       [  3,   7,  12],
       [ 14,  70,   9],
       [ 60, 126,  51],
       [  9,  21,  36],
       [ 42, 210,  27]])

### we get same results with concatenate

In [35]:
np.concatenate((x,y))

array([[ 20,  42,  17],
       [  3,   7,  12],
       [ 14,  70,   9],
       [ 60, 126,  51],
       [  9,  21,  36],
       [ 42, 210,  27]])

### divide array into tuples along 3rd axis using dstack

In [36]:
np.dstack((x,y))

array([[[ 20,  60],
        [ 42, 126],
        [ 17,  51]],

       [[  3,   9],
        [  7,  21],
        [ 12,  36]],

       [[ 14,  42],
        [ 70, 210],
        [  9,  27]]])

### hsplit divides the array into equal parts by size and shape

In [37]:
np.hsplit(x, 3)

[array([[20],
        [ 3],
        [14]]), array([[42],
        [ 7],
        [70]]), array([[17],
        [12],
        [ 9]])]

In [38]:
np.split(x, 3)

[array([[20, 42, 17]]), array([[ 3,  7, 12]]), array([[14, 70,  9]])]

### convert to list

In [39]:
z.tolist()

[[120, 72, 37], [43, 57, 12], [54, 20, 9]]

### create an array of zeros

In [40]:
np.zeros((4, 3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [41]:
np.ones((5,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

### specify data type when creating objects

In [42]:
o1 = np.arange(10, dtype='int16')

In [43]:
o1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int16)

### create a matrix

In [44]:
mat1 = np.matrix([[10, 11, 12, 13, 14], [15, 16, 17, 18, 19], [20, 21, 22, 23, 24]])

In [45]:
mat1

matrix([[10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]])

In [46]:
mat2 = np.matrix([[25, 26, 27, 28, 29], [30, 31, 32, 33, 34], [35, 36, 37, 38, 39]])

In [47]:
mat2

matrix([[25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]])

### Matrix Operations

In [48]:
mat1 + mat2

matrix([[35, 37, 39, 41, 43],
        [45, 47, 49, 51, 53],
        [55, 57, 59, 61, 63]])

In [49]:
mat2 - mat1

matrix([[15, 15, 15, 15, 15],
        [15, 15, 15, 15, 15],
        [15, 15, 15, 15, 15]])

In [50]:
mat2 / mat1

matrix([[2.5       , 2.36363636, 2.25      , 2.15384615, 2.07142857],
        [2.        , 1.9375    , 1.88235294, 1.83333333, 1.78947368],
        [1.75      , 1.71428571, 1.68181818, 1.65217391, 1.625     ]])

In [51]:
mat1 * 3

matrix([[30, 33, 36, 39, 42],
        [45, 48, 51, 54, 57],
        [60, 63, 66, 69, 72]])

### Mean of matrix

In [52]:
np.mean(mat1)

17.0

### Max of matrix

In [53]:
np.max(mat1)

24

### Minimum of matrix

In [54]:
np.min(mat1)

10

### Median of matrix

In [55]:
np.median(mat1)

matrix([[11., 10., 12., 13., 14., 15., 16., 17., 18., 19., 20., 21., 22.,
         23., 24.]])

### Variance

In [56]:
np.var(mat1)

18.666666666666668

### read data from file and unpack

In [57]:
up1 = np.loadtxt('datasets/df2', delimiter=',', usecols =(1,), unpack=True)

In [58]:
up1

array([ 0.        , 15.98293881, 41.7360094 , 21.02081375, 54.06254967,
        6.68691812, 43.83810058, 39.55058136, 58.04370289, 85.02891662,
       98.25872709])

### read more columns

In [59]:
up1 = np.loadtxt('datasets/df2', delimiter=',', usecols =(1,2,3,4,5), unpack=True)

In [60]:
up1

array([[ 0.        , 15.98293881, 41.7360094 , 21.02081375, 54.06254967,
         6.68691812, 43.83810058, 39.55058136, 58.04370289, 85.02891662,
        98.25872709],
       [ 1.        , 96.04182102, 27.22741036, 32.80045241, 97.58128463,
        98.81895964, 11.87020528, 38.75000078,  3.71151788, 94.27608857,
        46.52125958],
       [ 2.        , 74.6830193 , 74.23838199, 16.93452308, 50.32400223,
        74.92492714, 80.93917972, 81.16732433, 87.30052535, 37.85697184,
        19.51960091],
       [ 3.        , 31.67024969, 27.89524658, 99.97206015, 37.43309579,
         4.40469242,  7.47002121, 20.91670805, 76.01454029, 65.16402897,
         4.37161291],
       [ 4.        , 50.370428  , 57.76074145, 96.60339506, 69.98076338,
        55.19229842, 33.99100279, 41.39392215, 91.31002952, 60.92216886,
        32.79296904]])