In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
        'Names': ['Simon', 'Kate', 'Francis', 'Laura', 'Mary', 'Julian', 'Rosie'],
        'Height': [180, 165, 170, 164, 163, 175, 166],
        'Weight': [85, 65, 68, 45, 43, 72, 46],
        'Pref_food': ['steak', 'pizza', 'pasta', 'pizza', 'vegetables', 'steak', 'seafood'],
        'Sex': ['m', 'f', 'm', 'f', 'f', 'm', 'f']
})

In [3]:
df.describe()

           Height     Weight
count    7.000000   7.000000
mean   169.000000  60.571429
std      6.377042  16.154021
min    163.000000  43.000000
25%    164.500000  45.500000
50%    166.000000  65.000000
75%    172.500000  70.000000
max    180.000000  85.000000

### rearrange statistics with transpose()

In [4]:
df.describe().transpose()

        count        mean        std    min    25%    50%    75%    max
Height    7.0  169.000000   6.377042  163.0  164.5  166.0  172.5  180.0
Weight    7.0   60.571429  16.154021   43.0   45.5   65.0   70.0   85.0

### value counts

In [5]:
df.count()

Names        7
Height       7
Weight       7
Pref_food    7
Sex          7
dtype: int64

### median calculation

In [6]:
df['Height'].median()

166.0

### average calculation

In [7]:
df['Height'].mean()

169.0

### minimum

In [8]:
df['Height'].min()

163

### maximum

In [9]:
df['Height'].max()

180