In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('datasets/housing.csv')
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
3608,-118.46,34.23,16.0,6338.0,1768.0,4718.0,1632.0,3.0187,154600.0,<1H OCEAN
8880,-118.49,34.04,31.0,4066.0,951.0,1532.0,868.0,4.8125,500001.0,<1H OCEAN
15994,-122.47,37.76,48.0,2464.0,459.0,1179.0,458.0,4.4946,358600.0,NEAR BAY
2167,-119.83,36.78,30.0,3162.0,640.0,1660.0,639.0,2.8359,80300.0,INLAND
16525,-121.20,37.79,36.0,866.0,160.0,502.0,149.0,2.4798,101500.0,INLAND

In [3]:
housing_data = housing_data.dropna()
housing_data.shape

(20433, 10)

In [4]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)

In [5]:
housing_data.shape

(19475, 10)

### One-Hot Encode Ocean Proximity (category data) as Numeric

In [6]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [7]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
12282,-116.79,33.99,16.0,319.0,68.0,212.0,67.0,1.4688,90000.0,0,1,0,0,0
3555,-118.59,34.23,17.0,6592.0,1525.0,4459.0,1463.0,3.0347,254500.0,1,0,0,0,0
1252,-122.51,39.30,19.0,1629.0,386.0,551.0,214.0,1.7463,68800.0,0,1,0,0,0
12504,-121.44,38.56,45.0,2423.0,466.0,873.0,438.0,3.7167,131900.0,0,1,0,0,0
19129,-122.67,38.24,29.0,2644.0,464.0,1372.0,450.0,5.0544,261800.0,1,0,0,0,0

In [9]:
median = housing_data['median_house_value'].median()
median

173800.0

### Add new column based on median above_median

In [10]:
housing_data['above_median'] = (housing_data['median_house_value'] - median) > 0

In [12]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
842,-122.07,37.59,13.0,2578.0,551.0,1680.0,528.0,4.8250,222000.0,0,0,0,1,0,True
6713,-118.18,34.13,44.0,2734.0,415.0,1057.0,424.0,7.9213,477800.0,1,0,0,0,0,True
18220,-122.07,37.40,15.0,2940.0,910.0,943.0,711.0,4.3590,192200.0,0,0,0,1,0,True
6173,-117.93,34.08,36.0,1371.0,246.0,806.0,241.0,4.5078,187100.0,1,0,0,0,0,True
526,-122.25,37.77,52.0,2650.0,566.0,1468.0,567.0,3.0161,215700.0,0,0,0,1,0,True

### Setup the features

In [14]:
X = housing_data.drop(['median_house_value', 'above_median'], axis=1)
Y = housing_data['above_median']

In [16]:
X.shape

(19475, 13)